@charset "UTF-8";


body{
    background-image: url(imagens/espaco.jpg);
    background-color: rgb(58, 58, 213);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div#container{
    height: 97vh;
    position: relative;
}

main#astronauta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





