@charset "UTF-8";

body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}